---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Experience" sideBarActiveItemID="cv">
  

  

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BASc Intergrated Engineering"
      subtitle_degree="Mechanical and Electrical Specialization"
      subtitle="University of British Columbia, Vancouver, Canada"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Fatwhip Scooters, Head Technician"
      subtitle="June 2023 - Present"
    >
    Managed technical operations at Fatwhip Scooters, overseeing a team of technicians in the full-service repair shop. Demonstrated proficiency in diagnostics, wire management, battery systems, and various electric vehicle components. Mentored junior technicians, emphasizing a hands-on approach to repairs and fostering a collaborative learning environment within the team.
    </TimeLineElement>
    <TimeLineElement
      title="Intergrated Engineering, Shop Supervisor"
      subtitle="Sept 2023 - Present"
    >
    Conducted shop safety trainings, providing shop assistance and guidance to fellow IGEN students, and organizing shop orientations, tools, and soldering workshops. Responsibilities extended to incident documentation, ensuring a secure work environment. I participated in the shop's operational efficiency by carrying out tool maintenance and handling various shop-related duties.
    </TimeLineElement>
    <TimeLineElement
      title="British Columbia Ferry Services, Engineering Co-op"
      subtitle="May 2022 - September 2022"
    >
    Assisted the Engineering Superintendent with marine system engineering activities associated with their ships, primarily providing assistance with vessel asset management, including engineering changes, maintenance, and refit planning as well as some aspects of financial management.
  </TimeLineElement>
    <TimeLineElement
      title="Urban Machina Inc, EV Technician"
      subtitle="January 2022 - April 2022"
    >
    Contributed to technical operations at UMI, specializing in the assembly, maintenance, and repair of electric scooters while strictly adhering to productivity, quality, and safety guidelines. Executed thorough final inspections and quality assurance for new e-scooters, demonstrating a keen mechanical aptitude in troubleshooting technical issues. Managed inventory tracking, employed hand tools and power tools for efficient repairs, and played an active role in integrating cutting-edge technologies into the scooter fleet.
  </TimeLineElement>
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Technical Skills</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mx-8">
    <b>
    <p>Mechanical</p>
    </b>
    <li>CAD: SoildWorks, AutoCAD</li>
    <li>Machine Design</li>
    <li>Shop Work</li>
    <li>MIG Welding</li>
    <li>Water Jet</li>

    <b><p>Electrical</p></b>
    <li>Soldering</li>
    <li>Spot Welding</li>
    <li>Diagnoses</li>
    <li>BMS</li>
    <li>BLDC Motor</li>
    <li>PSIM</li>

    <b><p>Software</p></b>
    <li>Python</li>
    <li>Machine Learning (Tensor Flow/Keras)</li>
    <li>C/C++</li>
    <li>VHDL</li>
    <li>PLC</li>
    
    <b><p>Other</p></b>
    <li>MatLab</li>
    <li>Simulink</li>
    <li>Excel</li>
    
  </ul>
</BaseLayout>
